<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset=“UTF-8”>
	<title>How to Read the Checkin Screen</title>
	<link rel="stylesheet" href="{{ url_for('static', filename='css/checkin.css') }}" />
	<link rel="stylesheet" href="{{ url_for('static', filename='css/credentialcolors.css') }}" />
	<link rel="preconnect" href="https://fonts.googleapis.com" />
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
	<link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet" />
</head>

<body class="guide">
	<h1 class="guide">&#x1F9AE; The Checkin Screen</h1>

	<h2 class="guide">&#x1F3A8; Color Coding and Levels &#x1FA9C;</h2>

	<table>
		<tr>
			<th class="guide"></th>
			<th class="guide" colspan="4">Level</th>
		</tr>
		<tr>
			<th class="guide llabel"></th>
			<th class="guide vlabel">Novice</th>
			<th class="guide vlabel">Independent</th>
			<th class="guide vlabel">Advanced</th>
			<th class="guide vlabel">Train Trainers</th>
		</tr>
		<tr>
			<th class="guide llabel">Wood:</th>
			<td class="guide"><span class="credential-tag Wood-1">&nbsp;&nbsp;</span></td>
			<td class="guide"><span class="credential-tag Wood-2">&nbsp;&nbsp;</span></td>
			<td class="guide"><span class="credential-tag Wood-3">&nbsp;&nbsp;</span></td>
			<td class="guide"><span class="credential-tag Wood-4">&nbsp;&nbsp;</span></td>
		</tr>
		<tr>
			<th class="guide llabel">Metal:</th>
			<td class="guide"><span class="credential-tag Metal-1">&nbsp;&nbsp;</span></td>
			<td class="guide"><span class="credential-tag Metal-2">&nbsp;&nbsp;</span></td>
			<td class="guide"><span class="credential-tag Metal-3">&nbsp;&nbsp;</span></td>
			<td class="guide"><span class="credential-tag Metal-4">&nbsp;&nbsp;</span></td>
		</tr>
		<tr>
			<th class="guide llabel">Glass:</th>
			<td class="guide"><span class="credential-tag Glass-1">&nbsp;&nbsp;</span></td>
			<td class="guide"><span class="credential-tag Glass-2">&nbsp;&nbsp;</span></td>
			<td class="guide"><span class="credential-tag Glass-3">&nbsp;&nbsp;</span></td>
			<td class="guide"><span class="credential-tag Glass-4">&nbsp;&nbsp;</span></td>
		</tr>
		<tr>
			<th class="guide llabel">Flame:</th>
			<td class="guide"><span class="credential-tag Flame-1">&nbsp;&nbsp;</span></td>
			<td class="guide"><span class="credential-tag Flame-2">&nbsp;&nbsp;</span></td>
			<td class="guide"><span class="credential-tag Flame-3">&nbsp;&nbsp;</span></td>
			<td class="guide"><span class="credential-tag Flame-4">&nbsp;&nbsp;</span></td>
		</tr>
		<tr>
			<th class="guide llabel">FiberArts:</th>
			<td class="guide"><span class="credential-tag FiberArts-1">&nbsp;&nbsp;</span></td>
			<td class="guide"><span class="credential-tag FiberArts-2">&nbsp;&nbsp;</span></td>
			<td class="guide"><span class="credential-tag FiberArts-3">&nbsp;&nbsp;</span></td>
			<td class="guide"><span class="credential-tag FiberArts-4">&nbsp;&nbsp;</span></td>
		</tr>
		<tr>
			<th class="guide llabel">Electronics:</th>
			<td class="guide"><span class="credential-tag Electronics-1">&nbsp;&nbsp;</span></td>
			<td class="guide"><span class="credential-tag Electronics-2">&nbsp;&nbsp;</span></td>
			<td class="guide"><span class="credential-tag Electronics-3">&nbsp;&nbsp;</span></td>
			<td class="guide"><span class="credential-tag Electronics-4">&nbsp;&nbsp;</span></td>
		</tr>
		<tr>
			<th class="guide llabel">DigitalFab:</th>
			<td class="guide"><span class="credential-tag DigitalFab-1">&nbsp;&nbsp;</span></td>
			<td class="guide"><span class="credential-tag DigitalFab-2">&nbsp;&nbsp;</span></td>
			<td class="guide"><span class="credential-tag DigitalFab-3">&nbsp;&nbsp;</span></td>
			<td class="guide"><span class="credential-tag DigitalFab-4">&nbsp;&nbsp;</span></td>
		</tr>
		<tr>
			<th class="guide llabel">Other:</th>
			<td class="guide"><span class="credential-tag Other-1">&nbsp;&nbsp;</span></td>
			<td class="guide"><span class="credential-tag Other-2">&nbsp;&nbsp;</span></td>
			<td class="guide"><span class="credential-tag Other-3">&nbsp;&nbsp;</span></td>
			<td class="guide"><span class="credential-tag Other-4">&nbsp;&nbsp;</span></td>
		</tr>
		<tr>
			<th class="guide llabel">Safety:</th>
			<td class="guide"><span class="credential-tag Safety-S">&nbsp;&nbsp;</span></td>
			<td class="guide" colspan="3">(no levels)</td>
		</tr>
		<tr>
			<th class="guide llabel">External:</th>
			<td class="guide"><span class="credential-tag External">&nbsp;&nbsp;</span></td>
			<td class="guide" colspan="3">(transfer)</td>
		</tr>
	</table>

	<h2 class="guide">&#x1F60E; On Duty and Mentor Tags</h2>

	<ol class="noteslist">
		<li class="noteslist">
			The <span class="onduty"> </span> tag indicates mentor who checked in as ON DUTY.
		</li>
		<li class="noteslist">
			The <span class="mentor">M</span> tag subtly indicates mentor or staff regardless of checkin reason. Note that you are not required to answer questions if you are not on duty and working on your own projects. However, it is still helpful to know who mentors and staff are in case critical questions or safety issues come up.
		</li>
	</ol>

</body>
</html>